<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/4da7a940f0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Mongoose Movies</title> <!-- Static title -->
</head>
<body>
  <nav>
    <i class="fas fa-film fa-2x"></i>
    <a href="/movies/new">ADD MOVIE</a> <!-- Static link -->
  </nav>

  <main>
    <h1>Mongoose Movies</h1> <!-- Static content -->
  </main>

  <!-- Footer is empty but represents the end of your body content -->
</body>
</html>
